{% extends 'base.twig' %}

{% block body %}
<section>
    <div class="container">
        <h1 class="mt-3 mb-3 text-center">Добро пожаловать на мой Блог!</h1>
        {% set rowCount = 1 %}
        {% for post in posts %}
            {% if rowCount == 1 %}
                <div class="container-fluid row justify-content-center m-0">
            {% endif %}
                <div class="card p-1 m-1" style="width: 25rem;">
                    <img src="src/images/my-first-site-on-bs5.PNG" class="card-img-top" alt={{ post.title|escape }}>
                    <div class="card-body">
                        <a class="text-decoration-none" href="/{{ post.url_key }}"><h5 class="card-title"> {{ post.title|escape }} </h5></a>
                        <p class="card-text"> {{ post.description|escape[:100] }}... </p>
                        <a href="/{{ post.url_key }} " class="text-decoration-none">Подробнее</a>
                    </div>
                </div>
            {% set rowCount = rowCount + 1 %}
            {% if rowCount == 1 %}
                </div>
            {% endif %}
            {% if rowCount > 3 %}
                {% set rowCount = 1 %}
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}